<span class="fuller-auto-layout">
  <h1 class="app-title">
    <span class="background-title">fuller_auto</span>
    <span class="overlay-title">A Vehicle Generator Compatible with <div class="cy-font">CY_B<span class="extended">O</span>RG</div></span>
  </h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, iure similique! Tenetur facilis quos, fugit tempore, asperiores, mollitia rerum aliquid laudantium excepturi quibusdam ad? Pariatur animi nihil itaque architecto esse.</p>
</span>