<div class="fuller-auto-layout">
  <span class="main-content">
    <div class="card long-card">
      <div class="card-header">
        .test
      </div>
      <div class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi nemo facilis hic, impedit praesentium esse sit adipisci qui, molestiae itaque, dolorum quam cum enim accusantium! Facilis quis quas nam quos.</div>
    </div>
    <div class="card">
      <div class="card-header">.test</div>
      <div class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio praesentium excepturi, quaerat numquam rem fugit tempora error sequi ullam distinctio. Similique magnam quasi illo eveniet quas laudantium nostrum quo quae.</div>
    </div>
    <div class="card">
      <div class="card-header">.test</div>
      <div class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio praesentium excepturi, quaerat numquam rem fugit tempora error sequi ullam distinctio. Similique magnam quasi illo eveniet quas laudantium nostrum quo quae.</div>
    </div>
    <div class="card">
      <div class="card-header">.test</div>
      <div class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio praesentium excepturi, quaerat numquam rem fugit tempora error sequi ullam distinctio. Similique magnam quasi illo eveniet quas laudantium nostrum quo quae.</div>
    </div>
    <div class="card long-card">
      <div class="card-header">.test</div>
      <div class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio praesentium excepturi, quaerat numquam rem fugit tempora error sequi ullam distinctio. Similique magnam quasi illo eveniet quas laudantium nostrum quo quae.</div>
    </div>
  </span>

  <span class="footer">
    <div class="legal card">
      <div class="card-header">.//legal</div>
      <div class="card-body">
        CY_BORG IS ©2022 STOCKHOLM KARTELL.
      </div>
    </div>
    <div class="legal card">
      <div class="card-header">.//legal</div>
      <div class="card-body">.fuller_auto is an independent production by [Author or Publisher] and is not affiliated with Stockholm Kartell. It is published under the CY_BORG Third Party License.</div>
    </div>
  </span>
</div>